<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.urhive.panicbutton">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <!--<uses-permission android:name="android.permission.CALL_PRIVILEGED"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/PanicTheme">
        <!-- activities -->
        <activity android:name=".activities.SplashScreenActivity">
            <!-- launcher activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.SignInActivity">
        </activity>
        <activity android:name=".activities.MainActivity">
        </activity>
        <activity android:name=".activities.OfflineActivity">
        </activity>

        <!-- services -->
        <service android:name=".services.EmergencyButtonService"/>
    </application>

</manifest>